.clear:after {
	visibility: hidden;
	display: block;
	content: '';
	clear: both;
	height: 0;
}

* html .clear {
	zoom: 1;
}

*:first-child + html .clear {
	zoom: 1;
}

/*   
    .navbar {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.2);
    } */

.logo {
	float: left;
}

.goreport {
	color: white !important;
	background-color: #00114e !important;
	border: 0 !important;
}

.Reporttitle {
	color: #00114e !important;
	text-transform: capitalize !important;
	font-weight: 600 !important;
}

.logo a {
	text-decoration: none;
	display: block;
	padding: 1.45em 20px;
	color: #dad6d5;
	text-transform: uppercase;
	font-size: 1.2em;
	-webkit-transition: color 0.6s ease;
	-moz-transition: color 0.6s ease;
	-ms-transition: color 0.6s ease;
	-o-transition: color 0.6s ease;
	transition: color 0.6s ease;
}

.logo a:hover {
	color: #c14240;
}

.social-media {
	list-style: none;
	float: right;
}

.social-media li {
	display: inline-block;
}

.social-media li a {
	text-decoration: none;
	display: block;
	padding: 1.9em 15px;
	color: #dad6d5;
	-webkit-transition: color 0.6s ease;
	-moz-transition: color 0.6s ease;
	-ms-transition: color 0.6s ease;
	-o-transition: color 0.6s ease;
	transition: color 0.6s ease;
}

.social-media li a:hover {
	color: #c14240;
}

.list {
	list-style: none;
	text-align: center;
}

.list li {
	display: inline-block;
}

.list li a {
	text-decoration: none;
	display: block;
	padding: 1.9em 15px;
	color: #dad6d5;
	text-transform: uppercase;
	-webkit-transition: color 0.6s ease;
	-moz-transition: color 0.6s ease;
	-ms-transition: color 0.6s ease;
	-o-transition: color 0.6s ease;
	transition: color 0.6s ease;
}

.list li a:hover {
	color: #c14240;
}

.navbar {
	background-color: #f8f9fa;
	padding: 10px 20px;
}

.navbar-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-brand {
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
}

.nav-links {
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-links li {
	display: inline-block;
	margin-left: 20px;
}

.nav-links li:first-child {
	margin-left: 0;
}

.nav-links a {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}

.nav-links a:hover {
	color: #007bff;
}

.disabled {
	opacity: 0.5;
	pointer-events: none;
}
