.loginContent {
	/* background-color: rgb(241, 244, 255); */
	/* background-image: linear-gradient(90deg, rgba(248, 20, 255, 0.300), rgba(255, 233, 23, 0.400)),url(./Images/patrick-tomasso.jpg); */
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -20%);
}
.timer {
	margin-left: 350px;
	margin-bottom: 100px;
}
.timerr {
	margin-left: 0px;
}
.commentbox {
	background-color: white;
	box-shadow: 0px 0px 5px -2px;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 2px solid #7fa1ff;
	padding: 10px;
}

.navbar-light .navbar-brand {
	margin-left: 4rem;
}

.commenttext {
	color: rgb(107, 107, 107);
	margin: 20px 0 0 0;
}

.img {
	width: 100%;
}

.commentcontent {
	width: 90%;
	margin: auto;
	background-color: rgb(250, 250, 250);
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0px 0px 15px -10px;
}

.replyadd {
	font-size: 14px;
	color: rgb(179, 179, 179);
}

.commnentid {
	width: 90%;
	margin: auto;
}

.commentprofileicom {
	background-color: #000;
	width: 50px;
	height: 50px;
	border-radius: 50px;
}

.profileimgcomment {
	background-image: url(./Images/profileimg.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	border-radius: 40px;
	background-position: center;
}

.profileimgcommentsecond {
	background-image: url(./Images/shutterstock.jpg);
	background-size: cover;
	width: 100%;
	height: 100%;
	border-radius: 40px;
	background-position: center;
}

.commnentscrol {
	background-color: ghostwhite;
	width: 100%;
	height: 500px;
	overflow-y: auto;
	margin-top: 30px;
}

.commentusernamereply {
	font-size: 14px;
	color: gray;
	margin-left: 20px;
}

.commentmenu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.profilealign {
	display: flex;
	align-items: center;
}

.commentprofileicom img {
	width: 100%;
	height: 100%;
}

.sendbutton {
	text-transform: capitalize !important;
	background-color: #00114e !important;
	border: 0 !important;
}

.form-control:focus {
	box-shadow: none !important;
}

.commentbox .form-control {
	width: 100% !important;
	border-bottom: 1px solid black !important;
	border: none !important;
}

.mainprofileimg img {
	width: 130px;
	height: 130px;
	object-fit: cover;
	border-radius: 100px;
	border: 2px solid rgb(11, 0, 161);
}

.pt5 {
	padding-top: 200px !important;
}

.pt2 {
	padding-top: 50px;
}

.mainprofileimg {
	background-color: rgb(139, 161, 255);
	width: 130px;
	height: 130px;
	border-radius: 100px;
	position: absolute;
	bottom: -100px;
}

.profileimgupload {
	background: black;
	padding: 10px 12px;
	color: white;
	border-radius: 60px;
}

.w30 {
	width: 30%;
}

.w70 {
	width: 70%;
}
.usergmail {
	color: red;
}

.userNamecontent h6 {
	margin: 30px 0;
	border-bottom: 1px solid rgb(219, 219, 219);
	text-transform: capitalize;
	padding: 20px 0;
	font-size: medium;
	font-weight: 600;
}
.userNamecontentdetails h6 {
	margin: 30px 0;
	border-bottom: 1px solid rgb(219, 219, 219);
	text-transform: capitalize;
	padding: 20px 0;
	font-weight: 500;
	font-size: medium;
	font-weight: 400;
}
.myprofileusrname {
	position: absolute;
	left: 160px;
	top: 20px;
	text-transform: capitalize;
}

.myprofileusrnametext {
	position: absolute;
	left: 160px;
	top: 50px;
	text-transform: capitalize;
}

.pt10 {
	padding-top: 120px;
}

.UploadProfileposition {
	position: absolute;
	right: 70px;
	bottom: 30px;
}

.profilebackground {
	background: linear-gradient(
			217deg,
			rgba(255, 216, 216, 0.8),
			rgba(255, 0, 0, 0) 70.71%
		),
		linear-gradient(127deg, rgba(223, 255, 223, 0.8), rgba(0, 255, 0, 0) 70.71%),
		linear-gradient(336deg, rgba(220, 220, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
	width: 100%;
	height: 150px;
}

.form-check-input:before {
	display: none;
}

.formik-input {
	padding: 6px 20px !important;
	border-radius: 8px;
	border: 1px solid rgb(119, 119, 119);
	/* background: #ededed; */
}

.formik-input::placeholder {
	color: #afafaf;
	text-transform: capitalize;
	font-weight: 600;
}

.form-check-input[type='checkbox']:checked:after {
	display: none !important;
}

.controlwidth {
	width: 100% !important;
	max-width: 1000px !important;
	margin: auto !important;
}

.passfield {
	position: relative;
}

.passfield img {
	width: 18px;
	position: absolute;
	top: 36px;
	cursor: pointer;
	right: 34px;
}

.mainformik {
	width: 100%;
	max-width: 1000px;
	margin: auto !important;
}

.log {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(0, 17, 78) !important;
	font-weight: 600 !important;
	border: none !important;
	padding: 10px 30px !important;
	margin: 0 20px;
}

.maincreate {
	width: 100%;
	max-width: 550px;
	margin: 150px auto;
}

.inputforcreate {
	width: 100%;
}

.inputforcreate input::placeholder {
	font-weight: 600;
	color: rgb(145, 145, 145);
}

.Titleinput input {
	width: 100%;
	padding: 7px 1px;
	margin-bottom: 20px;
	border-radius: 8px;
	outline: none;
	border: 1px solid #d4d4d4;
	background-color: rgb(255 255 255);
}

.authorinput input {
	width: 100%;
	font-weight: 400 !important;
	padding: 7px 1px;
	margin-bottom: 20px;
	border-radius: 8px;
	outline: none;
	border: 1px solid #d4d4d4;
	background-color: rgb(255 255 255);
}

.tagsinput select {
	width: 100% !important;
	padding: 10px 20px;
	margin: 10px 0;
	border-radius: 8px;
	outline: none;
	border: none;
	background-color: rgb(243, 243, 243);
}

.heading h1 {
	color: rgb(0, 17, 78);
	font-size: 40px;
	font-weight: 700;
}

.detailscontent {
	background: #00000008;
	border-radius: 10px;
	padding: 30px;
	margin: 20px 0;
}

.nav-bar {
	position: fixed !important;
	width: 100% !important;
	z-index: 999 !important;
	top: 0;
}

.singin {
	background-color: rgb(0, 17, 78) !important;
	border: none !important;
}

.singup {
	background-color: rgb(0, 17, 78) !important;
	border: none !important;
}

.log:hover {
	background-color: transparent !important;
	color: rgb(0, 0, 0) !important;
	border: 1px solid black !important;
}

/* .blogdatacontentimg {
  transition: transform 0.9s;
  overflow: hidden;
  width: 100%;
  height: 250px;
} */

.zoomblogimg:hover img {
	transform: scale(1.1) !important;
	transition: transform 1.2s !important;
	overflow: hidden !important;
}

.zoomblogimg:hover {
	transform: translateY(-20px);
}

.zoomblogimg {
	transition: all 0.5s;
}

.reg {
	color: white !important;
	background-color: rgb(0, 17, 78) !important;
	font-weight: 600 !important;
	border: none !important;
	padding: 10px 30px !important;
}

.maincardsec {
	background-color: white;
	height: 100%;
	width: 100%;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	margin: 20px 0;
	/* padding: 10px 20px; */
	margin: 30px 8px;
	border-radius: 10px;
}

.mainlist {
	display: flex;
	align-items: center;
}

.imgsection {
	width: 100%;
	max-width: 400px !important;
}

.dropdown-menu {
	bs-dropdown-link-active-bg: #ffffff;
}

.imgsection img {
	border-radius: 8px;
}

.titlehead {
	margin: 15px 20px;
}

.activelink {
	background-color: none;
	width: 100%;
	color: rgb(0, 0, 0) !important;
	padding: 3px 100% 3px 0px;
	text-decoration: none !important;
}

.titlehead h4 {
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: 550;
}

.title {
	margin: 30px 0;
}

.title a {
	color: white !important;
	margin: 0 !important;
	font-size: 18px !important;
	text-decoration: none !important;
	background: rgb(0, 17, 78);
	padding: 10px;
	border-radius: 10px;
	border: 0;
}

.readmoretitle {
	margin: 10px 0px;
	position: absolute;
	bottom: 0;
}

.readmoretitle a {
	color: white !important;
	margin: 0 !important;
	font-size: 18px !important;
	text-decoration: none !important;
	background: rgb(0, 17, 78);
	padding: 10px;
	border-radius: 10px;
	border: 0;
}

/* .readmoretitle a {
  color: white !important;
  margin: 0 !important;
  font-size: 18px !important; 
  text-decoration: none !important  ;
} */

.imgsection img {
	width: 100%;
}

/* .container {
  display: flex;
 flex-direction: column;
 align-items: center;
} */
.topText {
	font-size: 18px;
	font-weight: bold;
}

.selectSection {
	/* display: grid; */
	/* grid-template-columns: repeat( 3, 1fr); */
	/* justify-content: center; */
	/* text-align: center; */
	margin-top: 10px;
	border-bottom: 1px solid rgb(172, 172, 172);
}

.selectSection button {
	font-size: 18px;
	background-color: transparent;
	/* box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); */
	/* margin-left: 10px; */
	border: 0;
	margin-right: 30px;
}

.selectSection button:hover {
	cursor: pointer;
}

.active {
	/* background-color: #87CEEB !important; */
	/* border-bottom: 2px solid rgb(0, 17, 78) !important; */
}

/* hides every element except the first */
.content:not(:first-child) {
	display: none;
}

.contentSection {
	margin: 40px 0;
	display: block;
	color: #666;
	display: grid;
}

.blogdatatextcontent p {
	color: #5500cb;
}

.blogdatatextcontent h6 {
	color: #5500cb;
}

.blogdatatextcontent h4 {
	color: black;
}

.blogdatatextcontent h5 {
	margin-top: 12px;
}

.w100 {
	width: 100%;
}

.w50 {
	width: 50%;
}

.carousel .slide {
	text-align: start !important;
}

.headercontenttop {
	padding-top: 150px;
}

.searchbg h2 {
	font-size: xx-large;
	font-weight: 650;
}

.searchbg h5 {
	color: gray;
	font-size: medium;
	font-weight: 500;
}

.blogdatacontent {
	display: flex !important;
	margin-bottom: 50px;
}

.blogdatacontentimgsecond {
	height: 210px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	margin: 0 20px;
	overflow: hidden;
	transition: transform 0.2s;
}

.blogdatacontentimgsecond img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.AdminuserDetailsbg {
	width: 40%;
	height: 800px;
	background-color: white;
	box-shadow: 0px 0px 10px -5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	padding: 10px 20px;
}

.adminuserdetailsprofile {
	background-color: #000524;
	width: 40px;
	height: 40px;
	border-radius: 50px;
}

.AdminuserDetailsbg h5 {
	color: #5500cb;
}

.adminuserdetailsprofilename p {
	font-size: small;
}

.useremailadmin {
	color: #006597;
}

.authorid {
	color: #00114e;
	text-transform: capitalize;
	font-size: medium;
}

.usercontetnhover:hover {
	background-color: white;
	box-shadow: 0px 6px 15px -9px;
	padding: 10px 12px;
	border-radius: 10px;
	transition: all 0.5s;
}

.usercontetnhover {
	padding: 10px 12px;
}

.adminuserdetailsprofile img {
	width: 100%;
	height: 100%;
	border-radius: 50px;
	object-fit: cover;
}

.blogdatacontentimg {
	display: inline-block;
	width: 524px;
	height: 283px;
	background-color: #ffffff !important;
	margin-top: 5px !important;
	margin-right: 0px !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
}

.blogdatacontentimg {
	width: 100%;
	height: 250px;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	transition: transform 0.2s;
	overflow: hidden;
}

.imgcontentlogin {
	width: 100%;
	height: 800px;
	background-color: #3f0097;
}

.w40 {
	width: 40%;
}

.w60 {
	width: 60%;
}

.imgloginslider {
	width: 100%;
	height: 90vh;
	background-color: #f2f3ff;
	border-radius: 10px 70px 70px 0px;
}

.p0 {
	padding: 0;
	overflow-y: hidden;
}

.bloginloginimage {
	background-image: url(../src/Images/wave.png);
	width: 69%;
	height: 100%;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	left: -5%;
}

.MicrosoftTeamsimage {
	position: absolute;
	top: 0;
	right: 160px;
	width: 460px;
}

.formlogininput {
	width: 100%;
	height: 90vh;
	/* background-color: #f0f0f0; */
	border-radius: 10px 70px 70px 0px;
}

.pt100 {
	padding-top: 60px !important;
}

.blogdatacontentimg img {
	width: 100%;
	height: 100%;
	border-radius: 9px;
	object-fit: cover;
}

/* .blogdatacontentimg:hover{
  background-color: #000;
  z-index: 999 !important;
  width: 100%;
  height: 100%;
  display: inherit;
} */

p {
	font-size: 20px;
	font-weight: normal;
	margin: 10px;
	/* text-align: Center; */
	color: black;
}

.blogdatatextcontent span {
	color: rgb(122, 122, 122);
	font-weight: 600;
}

.maincard {
	background-color: rgb(241, 244, 255);
	width: 100%;
	height: 100vh;
}

/* .dropdown-item a {
  color: rgb(0, 0, 0) !important;
  text-decoration: none;
} */

.detailsblog {
	background-image: url(../src/Images/working_em.webp);
	width: 100%;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.blogheading {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.blogheading h2 {
	color: white;
}

.blogheading p {
	color: white;
}

.testimonialimg img {
	width: 50px;
	position: absolute;
	left: 10px;
}

.testimonialimgright img {
	width: 50px;
	position: absolute;
	right: 0;
}

h1 {
	color: darkslategray;
}

p {
	font-size: 12pt;
	color: black;
}

canvas {
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: black;
	border-radius: 10px;
}

input {
	font-family: verdana;
	font-size: 12pt;
}

.notification {
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: #00114e;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
}

.fileupload {
	background-color: rgb(0, 17, 78);
	padding: 10px;
}

.commentprofile {
	background-color: antiquewhite;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	margin: 20px 0;
}

.choosefileoption {
	background-color: #00114e !important;
	color: white;
	padding: 10px;
	border-radius: 5px;
	margin: 10px 0;
	border: 0 !important;
	text-transform: capitalize !important;
}

.choosefileupdate {
	background-color: transparent !important;
	border: 1px solid #00114e;
	color: black !important;
	text-transform: capitalize !important;
	margin: 0 15px !important;
}

.commentinput {
	width: 1000px !important;
	height: 50px;
	background-color: #e2e2e2;
	border: 0;
	border: none;
	border-radius: 50px;
	margin-left: 10px !important;
}

::placeholder {
	color: #00114e;
	opacity: 1;
	/* Firefox */
	padding-left: 10px !important;
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: #00114e;
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: #00114e;
}

.comment-section {
	display: flex;
	align-self: center !important;
	/* margin: 50px 0; */
}

.sendcomment img {
	width: 35px;
	margin-left: 30px;
}

.footerbg {
	background-color: rgb(59, 59, 59);
	width: 100%;
	padding: 20px 0;
}

.sendsocileiconsflex {
	justify-content: center !important;
	display: flex !important;
	margin: 10px;
}

.sendsocileicons {
	background-color: rgb(0, 0, 0);
	width: 35px;
	height: 35px;
	border-radius: 50px;
	margin: 0 10px;
}

ul li {
	list-style: none;
}

.errorMessage {
	color: red !important;
}

.footerlink ul li {
	margin: 0 10px;
	color: white;
}

.footerlink {
	justify-content: center;
	display: flex;
}

.dropdown-toggle {
	background-color: transparent !important;
	border: 0 !important;
}

.btn {
	box-shadow: none !important;
}

/* .dropdown-toggle::after{
  display: inline-block !important;
  margin-left: 0.255em !important;
  vertical-align: 0.255em !important;
  content: "";
  border-top: 0.3em solid !important;
  border-right: 0.3em solid transparent !important;
  border-bottom: 0 !important;
  border-left: 0.3em solid transparent !important;
} */

.userproicon {
	padding: 6px;
	background-color: #00114e;
	border: 1px solid #000000;
	border-radius: 50px;
}

/* .userproicon.dropdown-toggle::after{
  position: absolute !important;
  left: 0 !important;
  display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;

} */

.table {
	--bs-table-striped-bg: rgba(248, 245, 245, 0.05) !important;
}

.admincontenttable tr {
	border-width: 10px 0 !important;
	background-color: white !important;
	text-transform: capitalize;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
	background-color: white !important;
}

#info_envio.table-striped > tr:nth-child(odd) {
	background-color: rgb(255, 255, 255);
}

.userdorp {
	color: rgb(0, 0, 0);
	position: absolute;
	bottom: 3px;
	right: 2px;
	font-size: 30px;
}

.profiledta .dropdown-menu {
	width: 222px !important;
	/* padding: 10px 10px; */
	position: absolute !important;
	right: 231px !important;
}

.profileusername {
	border-bottom: 1px solid rgb(173, 173, 173);
}

.profiledta .dropdown-menu[data-bs-popper] {
	top: 100%;
	left: -119px;
	margin-top: var(--bs-dropdown-spacer);
}

.searchbg {
	background-color: #ffffff;
	display: flex;
	padding: 10px;
}

label {
	color: rgb(80, 80, 80);
}

.editblogbutton {
	background-color: #00114e !important;
	border: none !important;
}

.serchiconblog {
	position: absolute;
	left: 10px;
	top: 7px;
	color: green;
}

.searchbox {
	background: rgb(240, 240, 240);
	border: 2px solid #ffffff;
	width: 560px;
	border-radius: 5px;
	height: 40px;
	padding-left: 40px;
	/* color: white; */
}

.rijectadmin {
	color: red;
	display: flex;
}

.doneadmin {
	color: rgb(0, 218, 0);
	display: flex;
}

.searchbg input[type='text'],
select {
	padding: 10px 20px;
}

.useremail {
	color: red;
}

.username {
}

.editbutton {
	background-color: #00114e !important;
}

.menublog {
	color: black !important;
}

.editemailinput {
	width: 250px;
	border-radius: 50px;
	border: 1px solid #00114e;
	padding: 10px;
}

.editnameinput {
	width: 250px;
	border-radius: 50px;
	border: 1px solid #00114e;
	padding: 10px;
}

.mystyle {
	background-color: #00114e !important;
	color: white;
}

.assessmenttab {
	background-color: #e7eeff;
	padding: 10px 20px;
	margin: 0 5px;
	border-radius: 5px;
	cursor: pointer;
}

/* ///////////////////////// */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

:root {
	--background-color1: #fafaff;
	--background-color2: #ffffff;
	--background-color3: #ededed;
	--background-color4: #cad7fda4;
	--primary-color: #4b49ac;
	--secondary-color: #0c007d;
	--Border-color: #3f0097;
	--one-use-color: #d7dfff;
	--two-use-color: #fff8da;
}

body {
	background-color: var(--background-color4);
	max-width: 100%;
	overflow-x: hidden;
}

header {
	height: 70px;
	width: 100vw;
	padding: 0 30px;
	background-color: var(--background-color1);
	position: fixed;
	z-index: 100;
	box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 27px;
	font-weight: 600;
	color: rgb(47, 141, 70);
}

.icn {
	height: 30px;
}

.menuicn {
	cursor: pointer;
}

.searchbar,
.message,
.logosec {
	display: flex;
	align-items: center;
	justify-content: center;
}

.searchbar2 {
	display: none;
}

.logosec {
	gap: 60px;
}

.searchbar input {
	width: 250px;
	height: 42px;
	border-radius: 50px 0 0 50px;
	background-color: var(--background-color3);
	padding: 0 20px;
	font-size: 15px;
	outline: none;
	border: none;
}

.searchbtn {
	width: 50px;
	height: 42px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0px 50px 50px 0px;
	background-color: var(--secondary-color);
	cursor: pointer;
}

.message {
	gap: 40px;
	position: relative;
	cursor: pointer;
}

.circle {
	height: 7px;
	width: 7px;
	position: absolute;
	background-color: #fa7bb4;
	border-radius: 50%;
	left: 19px;
	top: 8px;
}

.dp {
	height: 40px;
	width: 40px;
	background-color: #626262;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.main-container {
	display: flex;
	width: 100vw;
	position: relative;
	/* top: 70px; */
	z-index: 1;
}

.dpicn {
	height: 42px;
}

#chart {
	/* max-width: 650px; */
	/* margin: 35px auto; */
}

.main {
	height: calc(100vh - 70px);
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 0px 30px 30px 30px;
}

.main::-webkit-scrollbar-thumb {
	background-image: linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}

.main::-webkit-scrollbar {
	width: 5px;
}

.main::-webkit-scrollbar-track {
	background-color: #9e9e9eb2;
}

.box-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	gap: 40px;
}

#wrapper {
	position: relative;
	background: #000524;
	border: 1px solid #000;
	box-shadow: 0 22px 35px -16px rgba(0, 0, 0, 0.71);
	/* max-width: 850px; */
	margin: 50px auto;
}

#chart-bar {
	position: relative;
	margin-top: -38px;
}

.link {
	position: absolute;
	bottom: 7px;
	right: 13px;
	z-index: 10;
	color: #ccc;
	font-size: 12px;
	text-decoration: none;
	font-family: Helvetica, Arial;
}

.form-control {
	width: 75% !important;
}

.adminfilterbutton {
	background-color: #00114e !important;
	border: none !important;
	color: white;
	/* margin: 10px 0px; */
	padding: 10px 10px;
	border-radius: 0px;
	width: 100%;
}

.w100 {
	width: 100%;
}

.w80 {
	width: 80%;
	padding: 0 30px;
}

.adminfliterbox {
	background-color: white;
	box-shadow: 0px 0px 8px -6px;
	width: 100%;
	/* border-radius: 10px; */
	padding: 10px;
	/* margin: 10px 20px; */
	margin-left: 8px;
	text-transform: capitalize;
}

.blogdata {
	display: flex;
	background-color: #f8f8f8;
	width: 100%;
	/* height: 50px; */
	border-radius: 20px;
	margin: 20px 0;
	align-items: center;
	justify-content: space-between;
	border: 1px solid rgb(165, 165, 165);
	padding: 5px 10px;
}

.cartbutton {
	padding: 12px 20px !important;
	background: black !important;
	border: 0 !important;
	margin: 8px 11px !important;
	font-size: 14px !important;
}

.text-dark {
	color: black;
	text-decoration: none;
	margin-left: 80px;
}

.Other {
	margin-left: 80px;
}

.cursor-pointer {
	cursor: pointer;
}

.myblogtable {
	/* width: 90% !important; */
	margin: auto !important;
	box-shadow: 0px 0px 21px -13px;
	border-radius: 10px;
}

.rejectcontent {
	position: absolute;
	top: 10px;
	left: 50px;
}

#dropdown-basic {
	padding: 0 !important;
}

.w20 {
	width: 20%;
	background: #f6f6f6;
	height: 500px;
}

.nav {
	min-height: 91vh;
	width: 250px;
	background-color: var(--background-color2);
	position: absolute;
	top: 0px;
	left: 00;
	box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	padding: 30px 0 20px 10px;
}

.adminfliterbox .form-check {
	/* background-color: #0c007d !important; */
	color: black !important;
	margin: 10px 0;
	padding: 10px 30px;
	border-radius: 4px;
}

.adminfliterbox .form-check-label {
	color: black !important;
}

.navcontainer {
	height: calc(100vh - 70px);
	width: 250px;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
	display: none;
}

.navclose {
	width: 80px;
}

.nav-option {
	width: 250px;
	height: 60px;
	display: flex;
	align-items: center;
	padding: 0 30px 0 20px;
	gap: 20px;
	transition: all 0.1s ease-in-out;
}

.nav-option h3 {
	font-size: 16px;
}

.nav-option:hover {
	border-left: 5px solid #a2a2a2;
	background-color: #dadada;
	cursor: pointer;
}

.nav-img {
	height: 30px;
}

.nav-upper-options {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.option1 {
	border-left: 5px solid #010058af;
	background-color: var(--Border-color);
	color: white;
	cursor: pointer;
}

.option1:hover {
	border-left: 5px solid #010058af;
	background-color: var(--Border-color);
}

.box {
	height: 138px;
	width: 260px;
	border-radius: 20px;
	box-shadow: 2px 7px 11px -11px #00114e;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	cursor: pointer;
	transition: transform 0.3s ease-in-out;
}

.box:hover {
	transform: scale(1.08);
}

.box:nth-child(1) {
	background-color: var(--one-use-color);
}

.box:nth-child(2) {
	background-color: var(--two-use-color);
}

.box:nth-child(3) {
	background-color: var(--one-use-color);
}

.box:nth-child(4) {
	background-color: var(--two-use-color);
}

.box img {
	height: 50px;
}

.box .text {
	color: rgb(0, 0, 0);
}

.topic {
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1px;
}

.topic-heading {
	font-size: 30px;
	letter-spacing: 3px;
}

.report-container {
	min-height: 300px;
	max-width: 1400px;
	margin: 70px auto 0px auto;
	background-color: #ffffff;
	border-radius: 30px;
	box-shadow: 3px 3px 10px rgb(188, 188, 188);
	padding: 0px 20px 20px 20px;
}

.report-header {
	height: 80px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 20px 10px 20px;
	border-bottom: 2px solid rgba(0, 20, 151, 0.59);
}

.recent-Articles {
	font-size: 30px;
	font-weight: 600;
	color: #5500cb;
}

.view {
	height: 35px;
	width: 90px;
	border-radius: 8px;
	background-color: #5500cb;
	color: white;
	font-size: 15px;
	border: none;
	cursor: pointer;
}

.report-body {
	max-width: 1160px;
	overflow-x: auto;
	padding: 20px;
}

.report-topic-heading,
.item1 {
	width: 1120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.t-op {
	font-size: 18px;
	letter-spacing: 0px;
}

.items {
	width: 1120px;
	margin-top: 15px;
}

.item1 {
	margin-top: 20px;
}

.t-op-nextlvl {
	font-size: 14px;
	letter-spacing: 0px;
	font-weight: 600;
}

.lavel-tag {
	width: 100px;
	text-align: center;
	background-color: rgb(0, 177, 0);
	color: white;
	border-radius: 4px;
}

@media screen and (max-width: 950px) {
	.nav-img {
		height: 25px;
	}

	.nav-option {
		gap: 30px;
	}

	.nav-option h3 {
		font-size: 15px;
	}

	.report-topic-heading,
	.item1,
	.items {
		width: 800px;
	}
}

.py5myblog {
	padding-top: 100px;
}

@media screen and (max-width: 850px) {
	.nav-img {
		height: 30px;
	}

	.nav-option {
		gap: 30px;
	}

	.nav-option h3 {
		font-size: 20px;
	}

	.report-topic-heading,
	.item1,
	.items {
		width: 700px;
	}

	.navcontainer {
		width: 100vw;
		position: absolute;
		transition: all 0.6s ease-in-out;
		top: 0;
		left: -100vw;
	}

	.nav {
		width: 100%;
		position: absolute;
	}

	.navclose {
		left: 00px;
	}

	.searchbar {
		display: none;
	}

	.main {
		padding: 40px 30px 30px 30px;
	}

	.searchbar2 {
		width: 100%;
		display: flex;
		margin: 0 0 40px 0;
		justify-content: center;
	}

	.searchbar2 input {
		width: 250px;
		height: 42px;
		border-radius: 50px 0 0 50px;
		background-color: var(--background-color3);
		padding: 0 20px;
		font-size: 15px;
		border: 2px solid var(--secondary-color);
	}
}

@media screen and (max-width: 490px) {
	.message {
		display: none;
	}

	.logosec {
		width: 100%;
		justify-content: space-between;
	}

	.logo {
		font-size: 20px;
	}

	.menuicn {
		height: 25px;
	}

	.nav-img {
		height: 25px;
	}

	.nav-option {
		gap: 25px;
	}

	.nav-option h3 {
		font-size: 12px;
	}

	.nav-upper-options {
		gap: 15px;
	}

	.recent-Articles {
		font-size: 20px;
	}

	.report-topic-heading,
	.item1,
	.items {
		width: 550px;
	}
}

@media screen and (max-width: 400px) {
	.recent-Articles {
		font-size: 17px;
	}

	.view {
		width: 60px;
		font-size: 10px;
		height: 27px;
	}

	.report-header {
		height: 60px;
		padding: 10px 10px 5px 10px;
	}

	.searchbtn img {
		height: 20px;
	}
}

@media screen and (max-width: 320px) {
	.recent-Articles {
		font-size: 12px;
	}

	.view {
		width: 50px;
		font-size: 8px;
		height: 27px;
	}

	.report-header {
		height: 60px;
		padding: 10px 5px 5px 5px;
	}

	.t-op {
		font-size: 12px;
	}

	.t-op-nextlvl {
		font-size: 10px;
	}

	.report-topic-heading,
	.item1,
	.items {
		width: 300px;
	}

	.report-body {
		padding: 10px;
	}

	.lavel-tag {
		width: 70px;
	}

	.searchbtn {
		width: 40px;
	}

	.searchbar2 input {
		width: 180px;
	}
}

/* *********************** */

.wave {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
}

.logincontainer {
	width: 100vw;
	height: 40vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 7rem;
	padding: 0 2rem;
	padding-top: 100px !important;
}

.img {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.login-content {
	/* display: flex;
	justify-content: flex-start;
	align-items: center; */
	width: 70%;
	text-align: center;
}

.img img {
	width: 410px;
}

/* .loginformdata{
	width: 360px;
} */

.login-content img {
	height: 100px;
}

.login-content h2 {
	margin: 15px 0;
	color: #333;
	text-transform: uppercase;
	font-size: 2.9rem;
}

.login-content .input-div {
	position: relative;
	display: grid;
	grid-template-columns: 7% 93%;
	margin: 25px 0;
	padding: 5px 0;
	border-bottom: 2px solid #d9d9d9;
}

.login-content .input-div.one {
	margin-top: 0;
}

.i {
	color: #d9d9d9;
	display: flex;
	justify-content: center;
	align-items: center;
}

.i i {
	transition: 0.3s;
}

.input-div > div {
	position: relative;
	height: 45px;
}

.input-div > div > h5 {
	position: absolute;
	left: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #999;
	font-size: 18px;
	transition: 0.3s;
}

.input-div:before,
.input-div:after {
	content: '';
	position: absolute;
	bottom: -2px;
	width: 0%;
	height: 2px;
	background-color: #00114e;
	transition: 0.4s;
}

.input-div:before {
	right: 50%;
}

.input-div:after {
	left: 50%;
}

.input-div.focus:before,
.input-div.focus:after {
	width: 50%;
}

.input-div.focus > div > h5 {
	top: -5px;
	font-size: 15px;
}

.input-div.focus > .i > i {
	color: #0025ac;
}

.input-div > div > input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background: none;
	padding: 0.5rem 0.7rem;
	font-size: 1.2rem;
	color: #555;
	font-family: 'poppins', sans-serif;
}

.input-div.pass {
	margin-bottom: 4px;
}

.Forgotbutton {
	display: block;
	text-align: right;
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: 0.3s;
}

a:hover {
	color: #38d39f;
}

.loginbtn {
	display: block;
	width: 100%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	text-transform: capitalize !important;
	border: none;
	/* background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f); */
	background-color: #00114e;
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: 1rem 0;
	cursor: pointer;
	transition: 0.5s;
}

.btn:hover {
	background-position: right;
}

@media screen and (max-width: 1050px) {
	.container {
		grid-gap: 5rem;
	}
}

@media screen and (max-width: 1000px) {
	form {
		width: 290px;
	}

	.login-content h2 {
		font-size: 2.4rem;
		margin: 8px 0;
	}

	.img img {
		width: 400px;
	}
}

@media screen and (max-width: 900px) {
	.container {
		grid-template-columns: 1fr;
	}

	.img {
		display: none;
	}

	.wave {
		display: none;
	}

	.login-content {
		justify-content: center;
	}
}

.textend {
	text-align: end !important;
}

/* /////search  **************************** */
